.WhenShouldISeeADoctorPage2 {
    max-width: 400px;
    margin: auto;
    padding: 16px;
    text-align: center;
    background: white; /* Retain white background */
    border-radius: 0; /* Remove the border radius */
    box-shadow: none; /* Remove the shadow */
  }
  
  .WhenShouldISeeADoctorPage2OptionLists {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .OptionButton {
    width: 96%;
    background-color: #ffdbdf;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: auto;
  }
  
  .OptionButton:hover {
    background-color: #ffc5c9;
  }
  